section {
    padding: 60px 0;
}
#hero { 
border-radius: 1.5rem;
       background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.brand-gradient {
       color: #FC5C7D !important;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.custom-btn {
       border: 2px solid #FC5C7D;
       border-radius: 10px;
}

.custom-btn:hover {
       background-color: #FC5C7D;
       color:white
       
}

a {
       color: #FC5C7D;
       text-decoration: none;
}
